@import "tailwindcss";

.language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .language-switcher select {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
  }

  [data-i18n] {
    transition: opacity 0.3s ease;
  }
  
  .changing-lang {
    opacity: 0.5;
  }